<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加人员</title>
    <link rel="stylesheet" href="../assets/libs/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../assets/libs/layuiadmin/style/admin.css" media="all">
</head>

<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">添加人员</div>
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" method="post" id="addTypeForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">登陆名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="required" autocomplete="off"
                                placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">职位</label>
                        <div class="layui-input-block">
                            <input type="text" name="userType" lay-verify="required" autocomplete="off"
                                placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone"" lay-verify=" required" autocomplete="off" placeholder="请输入"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">专题会议</label>
                        <div class="layui-input-block">
                            <input type="radio" name="meetState" value="ok" title="不可看" checked="">
                            <input type="radio" name="meetState" value="no" title="可看">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="meetRemark" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button class="layui-btn" lay-submit='' lay-filter="form-submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../assets/libs/layuiadmin/layui/layui.js"></script>
        <script type="text/javascript" src="../assets/libs/config.js"></script>
    <script>
        layui.config({
            base: '../assets/libs/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'sample', 'form'], function () {
            var form = layui.form;
            var layer = layui.layer;
            $ = layui.$;

            form.on('submit(form-submit)', function (data) {
                // console.log(data);
                $.ajax({
                    url: './add',
                    method: 'post',
                    data: data.field,
                    dataType: 'JSON',
                    success: function (res) {
                        // res.code = '200'
                       if (res.code == 0) {

                            layer.confirm('添加成功！', function (index) {

                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                layer.close(index);
                                parent.location.reload();

                            })

                            // parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                            // parent.layer.close(index); //再执行关闭
                        }

                    },
                    error: function (res) {
                        layer.alert('无法联通服务器错误代码:' + res.status + '错误描述:' + res.statusText);
                    }
                })

                return false
            })




        });
    </script>
</body>

</html>