<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索界面</title>
    <link rel="stylesheet" href="../assets/libs/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../assets/libs/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../assets/css/template.css" media="all">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">会议名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">附件名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">汇报人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
            </div>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card layadmin-serach-main">
                    <div class="layui-card-header">
                        <p style="font-size: 18px;">
                            <span style="color: #01AAED">关键词</span> 查询到
                            <strong>66</strong> 个结果
                        </p>
                        <p class="layadmin-font-em">耗时：350ms</p>
                    </div>
                    <div class="layui-card-body">

                        <ul class="layadmin-serach-list layui-text">
                            <li>
                                <div class="layui-serachlist-text">
                                    <h3><a href="">南纪门街道党工委会（第1次）</a></h3>
                                    <p>汇报人:赖良 姜军 史小军 等等</p>
                                    <p>会议时间：2020-4-1 12:00:00</p>
                                    <p>
                                        议题：1.学习习近平总书记在中共中央政治局4月17日会议上的讲话精神（李 渝） <br>
                                        议题：2.学习市委五届八次全会精神（赖 良）<br>
                                        议题：3.关于渝中区人武部6名职工纳入街道机关工会管理事项研究（汇报人：王剑虹） <br>
                                        议题：4.审议社区工作者（聂新、李娇、郭念、孔畅）转正申请（汇报人：钟波）<br>

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="layui-serachlist-text">
                                    <h3><a href="">南纪门街道党工委会（第1次）</a></h3>
                                    <p>汇报人:赖良 姜军 史小军 等等</p>
                                    <p>会议时间：2020-4-1 12:00:00</p>
                                    <p>
                                        议题：1.学习习近平总书记在中共中央政治局4月17日会议上的讲话精神（李 渝） <br>
                                        议题：2.学习市委五届八次全会精神（赖 良）<br>
                                        议题：3.关于渝中区人武部6名职工纳入街道机关工会管理事项研究（汇报人：王剑虹） <br>
                                        议题：4.审议社区工作者（聂新、李娇、郭念、孔畅）转正申请（汇报人：钟波）<br>

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="layui-serachlist-text">
                                    <h3><a href="">南纪门街道党工委会（第1次）</a></h3>
                                    <p>汇报人:赖良 姜军 史小军 等等</p>
                                    <p>会议时间：2020-4-1 12:00:00</p>
                                    <p>
                                        议题：1.学习习近平总书记在中共中央政治局4月17日会议上的讲话精神（李 渝） <br>
                                        议题：2.学习市委五届八次全会精神（赖 良）<br>
                                        议题：3.关于渝中区人武部6名职工纳入街道机关工会管理事项研究（汇报人：王剑虹） <br>
                                        议题：4.审议社区工作者（聂新、李娇、郭念、孔畅）转正申请（汇报人：钟波）<br>

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="layui-serachlist-text">
                                    <h3><a href="">南纪门街道党工委会（第1次）</a></h3>
                                    <p>汇报人:赖良 姜军 史小军 等等</p>
                                    <p>会议时间：2020-4-1 12:00:00</p>
                                    <p>
                                        议题：1.学习习近平总书记在中共中央政治局4月17日会议上的讲话精神（李 渝） <br>
                                        议题：2.学习市委五届八次全会精神（赖 良）<br>
                                        议题：3.关于渝中区人武部6名职工纳入街道机关工会管理事项研究（汇报人：王剑虹） <br>
                                        议题：4.审议社区工作者（聂新、李娇、郭念、孔畅）转正申请（汇报人：钟波）<br>

                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="layui-serachlist-text">
                                    <h3><a href="">南纪门街道党工委会（第1次）</a></h3>
                                    <p>汇报人:赖良 姜军 史小军 等等</p>
                                    <p>会议时间：2020-4-1 12:00:00</p>
                                    <p>
                                        议题：1.学习习近平总书记在中共中央政治局4月17日会议上的讲话精神（李 渝） <br>
                                        议题：2.学习市委五届八次全会精神（赖 良）<br>
                                        议题：3.关于渝中区人武部6名职工纳入街道机关工会管理事项研究（汇报人：王剑虹） <br>
                                        议题：4.审议社区工作者（聂新、李娇、郭念、孔畅）转正申请（汇报人：钟波）<br>

                                    </p>
                                </div>
                            </li>

                        </ul>
                        <div id="LAY-template-search-page" style="text-align: center;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../assets/libs/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'laypage'], function () {
            var laypage = layui.laypage;

            laypage.render({
                elem: 'LAY-template-search-page'
                , count: 66
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页');
                    }
                }
            });

        });
    </script>
</body>

</html>